:root{
    --color-primario: rgb(20, 4, 110);
    --line-style: 10px solid var(--color-primario);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(214, 214, 214);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: var(--font-family);
    font-size: 5rem;
    color: var(--color-primario);
}

h2{
    text-align: center;
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--color-primario);
}


#turno{
    text-align: center;
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--color-primario);
    border: 5px solid;
    border-radius: 50px;
    width: 200px;

}

#contenedorGrilla{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    
}

.cuadrado{
    color: var(--color-primario);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 8rem;
}

.arriba{
    border-bottom: var(--line-style);
    
}

.medio{
    border-left: var(--line-style);
    border-right: var(--line-style);
}

.abajo{
    border-top: var(--line-style);
}

.ganador{
    background-color: rgb(125, 125, 125);
}

dialog{
    text-align: center;
    min-width: 50vw;
    background-color: rgba(240, 248, 255, 0.23);
    padding: 5rem;
    border: unset;
}

dialog::backdrop{
    backdrop-filter: blur(3px);
}

dialog h2{
    font-family: var(--font-family);
    font-size: 2rem;
}

dialog button{
    font-size: larger;
    padding: 1rem;
}